# Flutter/Dart
.dart_tool/
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies
/.flutter-plugins-dependencies.lock
build/
/.idea/
.vscode/
.gradle/
**/Generated.xcconfig
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
pubspec.lock

# macOS
.DS_Store

# Android
/android/.gradle
/android/local.properties
